name: deploy

on:
  workflow_run:
    workflows: ["tests"]
    branches: [main]
    types: [completed]

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Deploy to Hostinger via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd /home/u410322947/domains/tusturnos.online/glowup
            git pull origin main
            php artisan view:clear
            php artisan cache:clear
            php artisan config:clear
            php artisan route:clear
